
<img src="http://placehold.it/1000x200" />



               <!-- Main Page Content and Sidebar -->

               <div class="row">

                 <!-- Contact Details -->
                 <div class="large-9 columns">

                   <h3><%=@getInfo.name=%></h3>
                   <p><%=@getInfo.des=%><!-- <em>all day</em>.--></p>

                   <div class="section-container tabs" data-section>
                     <section class="section">
                       <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
                       <div class="content" data-slug="panel1">
                         <form>
                           <div class="row collapse">
                             <div class="large-2 columns">
                               <label class="inline">Your Name</label>
                             </div>
                             <div class="large-10 columns">
                               <input type="text" id="yourName" placeholder="Jane Smith">
                             </div>
                           </div>
                           <div class="row collapse">
                             <div class="large-2 columns">
                               <label class="inline"> Your Email</label>
                             </div>
                             <div class="large-10 columns">
                               <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                             </div>
                           </div>
                           <label>What's up?</label>
                           <textarea rows="4"></textarea>
                           <button type="submit" class="radius button">Submit</button>
                         </form>
                       </div>
                     </section>
                     <section class="section">
                       <h5 class="title"><a href="#panel2">Specific Person</a></h5>
                       <div class="content" data-slug="panel2">
                         <ul class="large-block-grid-5">
                           <%@getRInfo.each do|a|%>
                               <li><a href="/detail/<%=a.id=%>"><img src="<%=a.pic=%>"></a> <%=a.name=%></li>
                               <%end%>

                         <!--  <li><a href="mailto:mal@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Mal Reynolds</a></li>
                           <li><a href="mailto:zoe@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Zoe Washburne</a></li>
                           <li><a href="mailto:jayne@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Jayne Cobb</a></li>
                           <li><a href="mailto:doc@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Simon Tam</a></li>
                           <li><a href="mailto:killyouwithmymind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">River Tam</a></li>
                           <li><a href="mailto:leafonthewind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Hoban Washburne</a></li>
                           <li><a href="mailto:book@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Shepherd Book</a></li>
                           <li><a href="mailto:klee@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Kaywinnet Lee Fry</a></li>
                           <li><a href="mailto:inara@guild.comp.all"><img src="http://placehold.it/200x200&amp;text=[person]">Inarra Serra</a></li>
                        --> </ul>
                       </div>
                     </section>
                   </div>
                 </div>

                 <!-- End Contact Details -->


                 <!-- Sidebar -->


                 <div class="large-3 columns">
                   <h5>ScreenShot</h5>
                   <!-- Clicking this placeholder fires the mapModal Reveal modal -->
                   <p>
                     <a href="" data-reveal-id="mapModal"><img src="<%=@getInfo.pic=%>"></a><br />

                   </p>
                   Download From
                   <p><a href="/download/USA/<%=@getInfo.id=%>" class="button [secondary success alert]">USA Mirror   </a>
                   <br />
                     <a href="/download/China/<%=@getInfo.id=%>" class="button [secondary success alert]"> China Mirror     </a>
                     <br/>
                       <a href="/download/Europe/<%=@getInfo.id=%>" class="button [secondary success alert]">  Europe Mirror       </a>
                   </p>
                 </div>
                 <!-- End Sidebar -->
               </div>

               <!-- End Main Content and Sidebar -->


               <!-- Footer -->

               <footer class="row">
                 <div class="large-12 columns">
                   <hr />
                   <div class="row">
                     <div class="large-6 columns">
                       <p>&copy; Copyright no one at all. Go to town.</p>
                     </div>
                     <div class="large-6 columns">
                       <ul class="inline-list right">
                         <li><a href="#">Link 1</a></li>
                         <li><a href="#">Link 2</a></li>
                         <li><a href="#">Link 3</a></li>
                         <li><a href="#">Link 4</a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
               </footer>

               <!-- End Footer -->



               <!-- Map Modal -->

               <div class="reveal-modal" id="mapModal">
                 <h4>Where We Are</h4>
                 <p><img src="http://placehold.it/800x600" /></p>

                 <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
                 <a href="#" class="close-reveal-modal">&times;</a>
               </div>
