<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%=  @title || "Software Cracking Center" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!-- Navigation -->
  <div class="row">
    <div class="large-12 columns">

    <div class="row">
    <div class="large-12 columns">

      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="/">
                Software Cracking Center
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- End Navigation -->
    <%= yield %>
    <%= javascript_include_tag "application" %>
        </div></div>

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright on Software Crack Center</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/faq">FAQ</a></li>

          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->



  <!-- Map Modal -->

  <div class="reveal-modal" id="mapModal">
    <h4>Where We Are</h4>
    <p><img src="http://placehold.it/800x600" /></p>

    <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
    <a href="#" class="close-reveal-modal">&times;</a>
  </div>

  </body>
</html>